<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My song List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome to your music library!</h1>
    <a href='/songs/new'>Add a new song</a>
    <a href='/songs'>See list of songs</a>
  </body>
</html>
